.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-controller {
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 60%;
    transition: all ease 0.4s;
    font-size: large;
  }

  & button:hover {
    background-color: var(--light-gray-color);
  }

  & button.active {
    background-color: var(--primary-color);
    color: var(--light-gray-color);
  }
}

.number-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

@media screen and (max-width: 575px) {
  .pagination-controller {
    max-width: 94vw;

    button {
      width: 2.2rem;
      height: 2.2rem;
      font-size: small;
    }
  }

  .number-item {
    margin: 0 0.1rem;
    width: 2.2rem;
    height: 2.2rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .pagination-controller {
    max-width: 94vw;

    button {
      width: 3rem;
      height: 3rem;
      font-size: large;
    }
  }

  .number-item {
    margin: 0 0.1rem;
    width: 3.4rem;
    height: 3.4rem;
  }
}
