.body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit-details {
  width: 100%;
  height: 510px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px),
    rgba(31.5, 31.5, 31.5, 0.84) 50%,
    rgba(31.5, 31.5, 31.5, 0.84) 100%
  );
}

.banner-image {
  height: 510px;
  width: auto;
  overflow: hidden;
  z-index: -1;

  & img {
    width: 2400px;
    object-fit: cover;
    height: auto;
  }
}

.detail-wrapper {
  width: 100%;
  max-width: 1400px;
  height: 510px;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.movie-poster-wrapper img {
  width: 300px;
  border-radius: 0.6rem;
}

.credit-detail {
  margin-left: 2rem;
  width: 100%;
  height: 100%;
}

.title-gerne {
  & h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--text-light-color);
    margin: 0.6rem 0;
  }

  & h3 {
    display: flex;
    align-items: center;
    color: var(--text-light-color);
  }

  & span {
    padding: 0.2rem;
    color: var(--text-light-color);
    margin-right: 0.6rem;
  }
}

.list-toolkits {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.score-area {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  border-right: 1px solid #999;
  color: var(--text-light-color);
  font-weight: 800;
  font-size: larger;

  & span {
    user-select: none;
  }
}

.toolkit {
  flex: 1;

  & ul {
    display: flex;
  }

  & li {
    border-radius: 50%;
    overflow: hidden;
    margin: 0.4rem 0.6rem;
  }

  & a {
    background-color: var(--text-light-color);
    padding: 1rem;
    display: flex;
    color: var(--text-dark-color);
    transition: transform ease 0.4s;
  }

  & a.disabled {
    background-color: var(--light-gray-color);
    pointer-events: none;
  }

  & a:hover {
    transform: scale(1.2);
  }
}

.quote-line {
  font-style: italic;
  padding-bottom: 1rem;
  color: var(--text-light-color);
}

.overview-section {
  padding-bottom: 0.6rem;
  max-height: 150px;
  overflow-y: scroll;
  color: var(--text-light-color);

  & h3 {
    color: var(--text-light-color);
    font-size: larger;
    padding-bottom: 0.4rem;
  }
}

.crew-section {
  padding-top: 1rem;
  color: var(--text-light-color);
  & ul {
    display: flex;
  }

  & li {
    padding-right: 4rem;
  }

  & h2 {
    font-size: larger;
    padding-bottom: 0.2rem;
  }

  & h4 {
    font-size: smaller;
    font-weight: 400;
  }
}

.cast-details {
  width: 100%;
  max-width: 1400px;
}
.cast-details-title {
  padding: 1rem;
}

.list-cast,
.credit-list {
  max-width: 1400px;
  display: flex;
  padding: 1rem 0.2rem;
  gap: 2rem;
  overflow-x: scroll;

  & a {
    text-decoration: none;
    color: var(--text-dark-color);
  }
}
