.seasons-item {
    display: flex;
    align-items: center;
}

.poster-wrapper {
    width: 220px;
    height: 300px;
    border-radius: .6rem;
    box-shadow: 0 0 8px 0 #999;
    overflow: hidden;

    & img {
        width: 100%;
        object-fit: cover;
    }
}

.season-content {
    flex: 1;
    padding: 2rem;

    & h1 {
        font-size: x-large;
        margin-bottom: .6rem;
    }

    & h2 {
        font-size: medium;
        margin-bottom: 1rem;
    }

    & p {
        line-height: 1.2;
    }
}