// Variables
:root {
  --primary-color: #1a2238;
  --background-light-color: #f7f7f7;
  --text-dark-color: #101820ff;
  --text-light-color: #fcf6f5ff;
  --button-color: #5783db;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-gray-color: #d3d3d3;
  --dark-gray-color: #253529;
  --red-color: #d61f1f;
  --yellow-color: #ffd301;
  --green-color: #258f28;
  --pink-color: #e54f8d;
  --blue-color: #4a9ee7;

  --navbar-height: 52px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Nunito', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Customize scroll bar
::-webkit-scrollbar-track {
  // border: 2px solid rgba($color: white, $alpha: 1);
  // border color does not support transparent on scrollbar
  background-color: rgba($color: black, $alpha: 0.1);
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 6px;
}
