.episode-wrapper {
  border-bottom: 1px solid var(--primary-color);
  margin: 1rem 0;
  padding: 0.8rem;
  display: flex;
}

.episode-poster-wrapper {
  box-shadow: 0 0 8px 0 var(--primary-color);
  width: 300px;
  display: flex;
  height: 160px;
  border-radius: 1rem;
  overflow: hidden;

  & img {
    width: 100%;
  }
}

.episode-details {
  flex: 1;
  margin-left: 1rem;
  line-height: 1.2;
}

.episode-title {
  display: flex;
  align-items: center;

  & h2 {
    font-size: large;
    margin-right: 1rem;
  }

  & h4 {
    font-size: small;
    background-color: var(--primary-color);
    color: var(--text-light-color);
    padding: 0.1rem 1rem;
    border-radius: 1rem;
  }
}

.episode-detail h3 {
  font-weight: 400;
  font-style: italic;
  margin: 0.2rem 0;
}
